html, body{
    margin:0;
    padding:0;
}
body{
    font-size: 13px;
    background-color: #efefef;
    padding:10px;
    margin:0;
}
h1{
    font-size:15px;
    color:blueviolet;
    text-align: center;
    padding: 2px;
    margin:4px;
}
h1 span{

    border: 2px dashed grey;
    padding: 10px;

}
.section{
    background-color: burlywood;
    padding:15px;
    margin-bottom:10px;
    border-radius:10px;
}
table, th, td{
    border: 2px solid rgb(19, 72, 219);
    text-align: center;
    table-layout: fixed;
}
